body {
    font-family: Arial, sans-serif;
    margin: 25px;
}

h1, h2 {
    color: #532b2b;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
    padding: 10px;
}

th, td {
    border: 1px solid #043d0d;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #006eff81;
}

/* Agrega más estilos según sea necesario */
