body {
  font-family: Arial, sans-serif;
  color: #e8e6e3;
  background-color: #1a1c1e;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

header {
  padding: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #1a1c1e;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #1a1c1e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 15px;
}

.logo img {
  max-height: 50px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #ffffff;
  margin: 5px 0;
  display: block;
  transition: 0.3s;
}

.menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: 0.3s;
}

.menu a:hover {
  color: #ecf0f1;
}

.cta-buttons {
  display: flex;
  align-items: center;
}

.button {
  background-color: #2300a3; /* Azul marino claro */
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #81d8d0; /* Azul marino más oscuro */
}