html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

/* HEADER CODE*/

header {
  padding: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #0D131A;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #0D131A;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 10px;
  margin-left: 10px;
}

.logo img {
  max-height: 50px;
}

.menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: 0.3s;
}

.menu a:hover {
  color: #03e9f4;
}

.cta-buttons {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.cta-buttons .button {
  color: #243b55;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  background: transparent;
  cursor: pointer;
  letter-spacing: 3px;
  overflow: hidden;
  text-transform: uppercase;
}

.cta-buttons .button:hover {
  background: #243b55;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #243b55, 0 0 10px #243b55, 0 0 20px #243b55, 0 0 40px #243b55;
}