html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #141e30;
  /*background: linear-gradient(#141e30, #243b55);*/
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

/* SCROLLBAR */

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 25px;
}

/* HEADER CODE*/

header {
  padding: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #0d131a;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #0d131a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 10px;
  margin-left: 10px;
}

.logo img {
  max-height: 50px;
}

.menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: 0.3s;
}

.menu a:hover {
  color: #03e9f4;
}

.cta-buttons {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.cta-buttons .button {
  color: #243b55;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  background: transparent;
  cursor: pointer;
  letter-spacing: 3px;
  overflow: hidden;
  text-transform: uppercase;
}

.cta-buttons .button:hover {
  background: #243b55;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #243b55, 0 0 10px #243b55, 0 0 20px #243b55,
    0 0 40px #243b55;
}

/* perfil */

.card-perfil {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 25px #00000099;
  background: #00000080;
}

.card-perfil h1,
h2 {
  color: #3e3b8f54;
  text-align: center;
  text-transform: uppercase;
  font-family: "Kanit", Light 300;
}

.card-perfil p {
  color: #4f3c8954;
  text-align: center;
  text-transform: uppercase;
  font-family: "Kanit", Light 300;
  background-color: #00000080;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #3e4446;
}

.card-perfil form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-perfil .card-domicilio {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 30%;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 15px 25px #00000099;
  background: #00000080;
  margin-bottom: 25px;
}

.card-perfil .card-domicilio label {
  top: 30px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #3e4446;
  pointer-events: none;
  transition: 0.5s;
}

.card-perfil .card-domicilio input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #3e4446;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #3e4446;
  outline: none;
  background: transparent;
}

.card-perfil .card-domicilio input:-webkit-autofill,
.card-perfil .card-domicilio input:-webkit-autofill:focus,
.card-perfil .card-domicilio input:-webkit-autofill:hover,
.card-perfil .card-domicilio input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #3e4446 !important;
  background-clip: content-box !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.card-perfil .card-domicilio button {
  color: #243b55;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  background: transparent;
  cursor: pointer;
  letter-spacing: 3px;
  overflow: hidden;
  text-transform: uppercase;
  margin: 0 auto;
}

.card-perfil .card-domicilio button:hover {
  background: #4f3c8954;
  color: #3e4446;
  border-radius: 5px;
  box-shadow: 0 0 2px #4f3c8954, 0 0 10px #4f3c8954, 0 0 20px #4f3c8954,
    0 0 40px #4f3c8954;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* tables */

th,
td {
  border: 1px solid #3e4446;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #243b55;
}

tr:nth-child(even) {
  background-color: #0d131a;
}

tr:nth-child(odd) {
  background-color: #141e30;
}

button {
  background-color: #03e9f4;
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #01c0e6;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container form {
  margin: 0;
}

.button-container button {
  padding: 10px;
  font-size: 14px;
  border: none;
  background: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
}

.button-container button[name="editar_domicilio"] {
  background-color: #4caf4f77;
  color: rgba(155, 155, 155, 0.712);
}

.button-container button[name="delete_domicilio"] {
  background-color: #f4433677;
  color: rgba(155, 155, 155, 0.712);
}

.button-container button i {
  font-size: 18px;
}

.button-container button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}