/* estilos.css */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #3498db;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
